<div class="my-auto">
    <div class="row">
        <div class="col-12 col-lg-6 mt-auto mb-auto">
            <img src="../img/dominik-borowski.1024x1024.jpg"
                class="img-fluid mb-3 circle" alt="Me">
        </div>
        <div class="col-12 col-lg-6 mb-3 mb-md-0 text-center text-white">
            <h4>Dominik Borowski</h4>
            <div class="row">
                <div class="col-6 col-lg-12">
                    <h5>Languages</h5>
                    <h6>German, English and Polish</h6>
                    <h5>Working at</h5>
                    <h6><a class="text-white" href="https://bridging-it.de" target="_blank">bridgingIT</a></h6>
                </div>
                <div class="col-6 col-lg-12">
                    <h5>Experience</h5>
                    <h6>3+ years</h6>
                    <h5>Working as</h5>
                    <h6>Consultant</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul class="list-inline text-center">
                <li class="list-inline-item">
                    <a href="https://github.com/D0ms3y" target="_blank"><i class="fab fa-github fa-2x"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="https://twitter.com/DominikBorowsk3" target="_blank"><i
                            class="fab fa-twitter fa-2x"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.xing.com/profile/Dominik_Borowski4" target="_blank"><i
                            class="fab fa-xing fa-2x"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>