<nav id="domsey-nav" class="navbar navbar-expand-md navbar-dark bg-dark">
	<div class="container-fluid">
		<a href="#aboutme" class="navbar-brand">Dominik | ドミニク</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="navbar">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a href="#aboutme" class="nav-link">About me</a>
				</li>
				<li class="nav-item d-md-none">
					<a href="#career" class="nav-link">Career</a>
				</li>
				<li class="nav-item">
					<a href="#skills" class="nav-link">Skills</a>
				</li>
				<li class="nav-item">
					<a href="#portfolio" class="nav-link">Portfolio</a>
				</li>
			</ul>
		</div>
	</div>
</nav>