<div class="modal fade" id="imprint" tabindex="1">
	<div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5>Imprint</h5>
				<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<h1>Imprint / Impressum</h1>

				<h2>Information as required by § 5 TMG / Angaben gemäß § 5 TMG</h2>
				<p>Dominik Borowski<br />
					Aldebaranstraße 10<br />
					12529 Schönefeld</p>

				<h2>Contact / Kontakt</h2>
				<p>E-Mail: domsey@db-rm.dev</p>

				<h2>Data Protection Policy (GDPR)</h2>
				<p>The website does not collect, store or process Personally Identifiable Information (PII). This
					website does not require the use of cookies.</p>

				<h2>Datenschutzerklärung (DSGVO)</h2>
				<p>Auf dieser Website werden keine personenbezogenen Daten erhoben, gespeichert oder verarbeitet. Es
					werden keine Cookies verwendet.</p>

				<h2>Third Party Inclusion</h2>
				<p>This website is hosted by <a href="https://www.github.com">Github</a> using <a
						href="https://help.github.com/articles/what-is-github-pages/">Github Pages</a>. The Github
					Global Privacy Practices are available <a
						href="https://help.github.com/articles/global-privacy-practices/">here</a></p>

				<h2>Verweis auf Dritte</h2>
				<p>Diese Website wird auf <a href="https://www.github.com">Github</a> als <a
						href="https://help.github.com/articles/what-is-github-pages/">Github Pages</a> gehostet. Die
					Github Global Privacy Practices sind <a
						href="https://help.github.com/articles/global-privacy-practices/">hier</a> hinterlegt.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
