<div class="modal fade" id="remDiscordBotProject" tabindex="1">
	<div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Rem Discord Bot</h5>
				<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<h6>Project description:</h6>
				<p></p>
				<h6>Languages used:</h6>
				<ul>
					<li><i class="fa-brands fa-html5"></i> HTML5</li>
					<li><i class="fa-brands fa-css3"></i> CSS3</li>
					<li><i class="fa-brands fa-js"></i> Javascript</li>
				</ul>
				<h6>Frameworks used:</h6>
				<ul>
					<li><i class="fa-brands fa-node-js"></i></li>
				</ul>
				<h6>Tools used:</h6>
				<ul>
					<li><i class="fa-brands fa-jenkins"></i> Jenkins</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>