@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-brand-primary: #3D5AFE;
  --color-secondary: #e0e0fa;
  --color-tertiary-dim: #7e51ff;
  --color-on-background: #f0f0fd;
  --color-primary-fixed-dim: #778aff;
  --color-on-tertiary-fixed: #1c0055;
  --color-on-primary: #001c8e;
  --color-on-surface-variant: #aaaab7;
  --color-error-dim: #d73357;
  --color-surface-container: #171924;
  --color-secondary-fixed-dim: #d2d2eb;
  --color-secondary-dim: #d2d2eb;
  --color-outline-variant: #464752;
  --color-on-surface: #f0f0fd;
  --color-on-primary-container: #001470;
  --color-surface: #0c0e17;
  --color-on-secondary-container: #cecee7;
  --color-on-secondary-fixed-variant: #585a6f;
  --color-surface-dim: #0c0e17;
  --color-on-secondary: #4f5065;
  --color-on-error: #490013;
  --color-error-container: #a70138;
  --color-primary: #9ba8ff;
  --color-on-tertiary-fixed-variant: #4000ad;
  --color-surface-container-highest: #222532;
  --color-surface-container-lowest: #000000;
  --color-on-tertiary: #25006b;
  --color-inverse-surface: #faf8ff;
  --color-on-tertiary-container: #ffffff;
  --color-primary-dim: #4963ff;
  --color-inverse-on-surface: #53545f;
  --color-background: #0c0e17;
  --color-surface-container-low: #11131d;
  --color-on-error-container: #ffb2b9;
  --color-on-primary-fixed: #000000;
  --color-surface-bright: #282b3a;
  --color-tertiary-fixed-dim: #ab93ff;
  --color-outline: #737580;
  --color-surface-tint: #9ba8ff;
  --color-error: #ff6e84;
  --color-secondary-fixed: #e0e0fa;
  --color-secondary-container: #444559;
  --color-surface-container-high: #1c1f2b;
  --color-inverse-primary: #2949ef;
  --color-tertiary: #a68cff;
  --color-on-primary-fixed-variant: #001a88;
  --color-on-secondary-fixed: #3c3e52;
  --color-primary-container: #8999ff;
  --color-tertiary-container: #7c4dff;
  --color-tertiary-fixed: #b8a3ff;
  --color-surface-variant: #222532;
  --color-primary-fixed: #8999ff;
  --color-hanko-red: #bc002d;
}
